<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body>
    <section class="hero">
        <div class="overlay">
            <div class="hero-content">
                <h1>Bienvenue sur la plateforme de livres en ligne</h1>
                <p>Explorez notre vaste collection de livres et trouvez vos prochaines lectures favorites</p>
                
                <div class="search-bar">
                    <input type="text" placeholder="Rechercher un livre..." id="search-book">
                    <button>Rechercher</button>
                </div>

                <div class="links">
                    <a href="/login">Se connecter</a>
                    <a href="/bibliotheque">Accéder à la bibliothèque</a>
                </div>
            </div>
        </div>
    </section>

</body>
</html>